body {
  background-color: #49435e;
  padding: 0%;
  margin: 0%;
}

.header {
  background-color: #23174e;
  display: flex;
  padding: 1% 5%;
  justify-content: space-between;
}

h1 {
  color: #b8aaeb;
}

button.addBook {
  height: 50%;
  align-self: center;
  justify-self: end;
  border: none;
  border-radius: 0.35rem;
  padding: 0.8rem;
  font-weight: 500;
  background-color: #b8aaeb;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  margin: 2.5%;
  gap: 2rem
  ;
}

.card {
  background-color: #b8aaeb;
  display: flex;
  flex-direction: column;
  padding: 3%;
  height: 30vh;
/*  width: fit-content; */
  border-radius: 0.6rem;
}

div.del {
  display: flex;
  flex-direction: row-reverse;

  align-content: center
}

button.del {
  font-size: 0.7rem;
  align-content: center;
  padding: 1%;
  color: #e6e2f1;
  font-weight: 500;
  background-color: #d13c3c;
  border: none;
  border-radius: 0.2rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.bibInfo {
  font-size: 0.8rem;
  display: grid;
  grid-template: repeat(4, 2rem) / 1fr 2fr;
  align-items: center;
  gap: 5%;
  margin-top: 1rem;
}

.info {
  font-weight: 500;
}

.tag {
  justify-self: right;
}

.readToggle {
  border: none;
  width: fit-content;
  align-content: center;
  border-radius: 0.4rem;
  font-weight: 500;
  color: #e6e2f1;
  padding: 2% 5%;
}

#read {
  background-color: #18582d;
}

#unread {
  background-color: #d13c3c;
}